<!DOCTYPE html>
<html ng-app="ngTableTutorial">
<head>
    <title>View Archived Cards List</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!--<script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>-->
    <!--<link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" media="screen"/>-->
    <!--<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js" type="text/javascript"></script>-->

    <script type="text/javascript"
            src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


    <link rel="stylesheet" href="https://rawgit.com/esvit/ng-table/master/dist/ng-table.min.css"/>
    <script src="https://rawgit.com/esvit/ng-table/master/dist/ng-table.min.js"></script>
    <!--<link href="app/resources/css/style.css" rel="stylesheet" type="text/css"/>-->
    <!--<script src="app/resources/js/app.js" type="text/javascript"></script>-->
    <script type="text/javascript" src="js/archived-cards-list.js"></script>
</head>
<body>
<div ng-controller="tableController">
    <table ng-table="usersTable" id="archivedCards" class="table table-striped">
        <tr><th>Card text</th><th>Board Id</th><th>Archived Date</th></tr>
        <tr ng-repeat="card in data">
            <td>{{card.text}}</td>
            <td>{{card.boardId}}</td>
            <td>{{card.date}}</td>
        </tr>
    </table>
</div>
</body>
</html>